body {
    font-family: Arial, sans-serif;
    background-color:#fcf0f1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.contact-container {
    background-color: #ffcdd2;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    color: #e57373;
}

label {
    display: block;
    margin: 10px 0 5px;
    text-align: left;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 4px;
    border: 1px solid #e57373;
    box-sizing: border-box;
    background-color: #fcf0f1;
}

button {
    background-color: #e57373;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #bf3c3c;
}
